$background: #ebe7cc;
$foreground: #3d3d4a;
$cursor: #3d3d4a;

$color0: #ebe7cc;
$color1: #c84053;
$color2: #6f894e;
$color3: #de9800;
$color4: #4d699b;
$color5: #b35b79;
$color6: #d7e3d8;
$color7: #3d3d4a;
$color8: #393836;
$color9: #d7474b;
$color10: #6e915f;
$color11: #f9d791;
$color12: #5d57a3;
$color13: #d27e99;
$color14: #9fb5c9;
$color15: #545464;
