$background: #f2ecbc;
$foreground: #313140;
$cursor: #313140;

$color0: #f2ecbc;
$color1: #c84053;
$color2: #6f894e;
$color3: #de9800;
$color4: #4d699b;
$color5: #b35b79;
$color6: #597b75;
$color7: #313140;
$color8: #c9cbd1;
$color9: #d7474b;
$color10: #6e915f;
$color11: #f9d791;
$color12: #6693bf;
$color13: #d27e99;
$color14: #9fb5c9;
$color15: #545464;
