$background: #0d0c0c;
$foreground: #c5c9c5;
$cursor: #c5c9c5;

$color0: #0d0c0c;
$color1: #c34043;
$color2: #76946a;
$color3: #c0a36e;
$color4: #7e9cd8;
$color5: #957fb8;
$color6: #6a9589;
$color7: #c5c9c5;
$color8: #727169;
$color9: #e82424;
$color10: #98bb6c;
$color11: #e6c384;
$color12: #7fb4ca;
$color13: #d27e99;
$color14: #7aa89f;
$color15: #dcd7ba;
