.bar {
    background-color: #222222;
    color: #ffffff;

    font-family: monospace;
    font-size: 9;
}

.bar2 {
    background-color: #222222;
    color: #ffffff;

    font-family: monospace;
    font-size: 9;
}

.sep {
    font-size: 18;

    padding: 1 5 1;
}

.textbox {
    background-color: #888888;
    color: #000000;

    padding: 0 10 0;
    margin: 4;

    border-radius: 2;
}
