@import "colors.scss";

$bg: rgba($background, 0.0);

*{
    all: unset;

    font-family: monospace;
    font-weight: 900;
}

window {
    background: $bg;
    color: $foreground;

    & > * {
        padding: 6px;
        padding-top: 0;
    }
}

.tbar .time {
    background: rgba($background, 0.5);
    border: 2px solid rgba($color2, 0.5);
    color: rgba($foreground, 0.75);
}

.workspaces, .time, .network {
    background: $background;
    border: 2px solid $color2;
    border-radius: 10px;
}

.workspaces, .network-label, .time {
    font-size: 11px;
}

.network-icon {
    font-size: 11px;
    padding-right: 4px;
}

.workspaces, .network, .time  {
    padding: 6px;
}

