snippet ``` "Code Block" bA
```
$1
```$0
endsnippet
context "snip.visual_mode"
snippet b "Visual Bold" bA
**${VISUAL}**$0
endsnippet

context "snip.visual_mode"
snippet i "Visual Italics" bA
*${VISUAL}*$0
endsnippet
